.text-color {
  color: rgb(255, 255, 255) !important;
}

.text-color-1 {
  color: rgb(255, 255, 255) !important;
}

.Typewriter__wrapper {
  color: #0095b7;
  text-decoration: underline white 2px;
  text-align: center;
}

a:hover {
  color: #dadada !important;
}

.header-section {
  border-bottom: none !important;
}

.jobs-container {
  border: solid 1px black;
}
