.text-color {
  color: rgb(255, 255, 255) !important;
}

.text-color-1 {
  color: rgb(255, 255, 255) !important;
}

.Typewriter__wrapper {
  color: #c49e00;
  text-decoration: underline white 2px;
  text-align: center;
}

a:hover {
  color: #dadada !important;
}

.header-section {
  border-bottom: none !important;
}

.text-container {
  opacity: 0;
  transition: opacity 1s;
}

.text-container.loaded {
  opacity: 1;
}

.headline {
  font-family: "Audiowide", cursive;
  font-size: 2.5rem;
}

h2,
h3,
h1,
h4,
h5,
h6 {
  font-family: "Audiowide", cursive;
}

.filter-results {
  background-color: #ffffff;
}

.filter-results-text {
  color: rgb(30, 150, 190);
}

.job-card {
  background-color: #feffff;
  color: rgb(0, 0, 0);
}

.type-category {
  color: rgb(0, 0, 0);
}

.role-title {
  color: rgb(30, 150, 190);
}

.full-card-apply-modal {
  max-height: 600px;
  overflow-y: scroll;
}

.search-border {
  /* border: 0.5px solid rgb(139, 139, 139); */
}
.text-filter {
  height: 2rem;
}

.search-box-jobs {
  background-color: #0f1e32;
  border-bottom-right-radius: 8rem;
}

.sect-container {
  background: linear-gradient(
    to right,
    #ffffff,
    #aad3dd,
    #ffffff,
    #ffffff,
    #ded3ad,
    #ffffff
  );
  background-size: 1200% 200%;
  animation: gradient 20s ease infinite;
  border-radius: 5px;
  border: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* .section,
.section-padding-t90-b100 {
  border-bottom-right-radius: 15rem;
} */

.text-filter {
  height: 2.5rem;
  width: 20rem;
  border-radius: 10px;
  border: none;
}

.text-filter2 {
  height: 2.5rem;
  width: 15rem;
  border-radius: 10px;
  border: none;
}

.search-button {
  border-radius: 10px;
}

.sector-list:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sector-titles {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
      to right,
      #ffffff,
      rgb(1, 94, 141),
      rgb(1, 94, 141),
      rgb(255, 255, 255)
    )
    1;
}

.search-underline {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
      to right,
      #ffffff,
      rgb(1, 94, 141),
      rgb(1, 94, 141),
      rgb(255, 255, 255)
    )
    1;
}

.back-arrow-sectors {
  cursor: pointer;
  margin-top: 1.4rem;
}

.back-arrow-sectors:hover {
  text-decoration: underline;
  color: rgb(30, 150, 190);
}

.tag-dropdown {
  max-height: 300px;
  overflow-y: scroll;
}

.black {
  background-color: black;
}

.loading {
  height: 30rem;
}

/* .logo-sector {
  height: 100px;
  width: 300px;
} */

.stats-sector {
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}

.break-titles {
  border: 3px solid transparent;
  border-image: linear-gradient(
      to bottom,
      #ffffff,
      rgb(18, 115, 150),
      rgb(255, 255, 255)
    )
    1;
}
