@media (max-width: 885px) {
  .filter-res {
    flex-direction: column !important;
  }

  .search-border {
    flex-direction: column;
    margin-left: 20px;
  }

  .loc-bar {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .filter-results {
    max-width: 310px;
    overflow-x: scroll;
    max-height: 300px;
    margin-right: 1rem;
    padding: 0;
    margin: 0;
    display: none;
  }
  .job-card {
    max-height: 450px;
    overflow-x: scroll;
    width: 90% !important;
  }

  .headline {
    font-size: 1.5rem !important;
    font-size: 1.5rem !important;
  }

  .home-button {
    width: 100% !important;
  }

  .job-count {
    margin-left: 10px;
  }
  .button-filter {
    display: flex;
    justify-content: start;
    margin-bottom: 2rem;
    margin-top: 1rem;

    padding: 0;
  }
  .filter-box {
    padding: 0px;
    height: 50%;
    margin-top: 5rem;
    margin-left: 3rem !important;
    width: 100%;
  }

  .segregation {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(
        to right,
        #ffffff,
        rgb(70, 133, 142),
        rgb(255, 255, 255)
      )
      1;
    width: 100%;
  }

  .filter-title {
    margin-bottom: 20rem;
    margin-right: 0rem !important;
  }
  html {
    width: 100%;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
  }

  .wrapper {
    width: 100%;
    overflow-x: hidden;
  }

  .filter-container {
    margin-right: 1rem;
  }
  .search-nav {
    margin-left: 2rem !important;
  }

  .res-search {
    margin-bottom: 0rem;
  }
  .res-search-button {
    text-align: start;
    margin-left: 1rem !important;
  }
  .full-card-apply-modal,
  .apply-modal {
    max-height: 500px;
  }
  .full-card-apply-modal,
  .apply-modal {
    max-height: 500px;
    overflow-y: scroll;
  }
  .job-item-container {
    flex-direction: column;
  }

  h4,
  .search-title {
    font-size: medium !important;
    margin-right: 9rem;
  }

  .type-category,
  .text-container {
    font-size: small;
  }

  .role-title {
    font-size: medium;
  }
  .job-card-button {
    font-size: x-small !important;
  }
  .search-title {
    margin-left: 20px !important;
  }
  .res-container {
    flex-direction: column;
    margin-right: 1.5rem;
  }
  .full-card-apply-modal {
    font-size: x-small;
  }
  .modal-title {
    font-size: medium;
  }
  .job-title-header {
    font-size: medium;
  }

  .blog-nav {
    display: flex !important;
    flex-direction: column !important;
    padding: 1rem;
  }

  .blog-title {
    margin-left: 0rem !important;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem !important;
    height: 20px;
  }
  .blog-button-nav {
    margin: -0.5rem;
  }
  .sector-areas {
    display: flex;
    flex-direction: column !important;
  }
  .sect-img {
    margin-top: 3rem;
  }
  .sect-break {
    display: flex;
  }
  .sector-section-res {
    display: flex;
    flex-direction: column !important;
  }
}

@media (max-width: 420px) {
  .back-arrow-sectors {
    margin-top: 2.9rem;
    display: none;
  }

  .sectors {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 2rem;
  }
}

@media (max-width: 900px) {
  .sectors {
    flex-direction: column !important;
    text-align: center !important;
  }
}
